html {
	scroll-behavior: smooth;
	margin-bottom: 25%;
}

:target {
	background-color: #F0F0F0 ;
	margin: -4px ;
	padding: 4px ;
	border-radius: 4px ;
	outline: none ;
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
}

a:hover, a:active {
	text-decoration: underline;
	color: blue;
}